.content {
    margin: 16px auto;
    width: 450px;
}

.content h3 {
    margin: 24px;
}

.artwork {
    width: 100%;
}
  
.link {
    width: 100%;
    margin-top: 16px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.link:hover {
    border: 1px solid #97a981;
    color: #97a981;
}
  
.link img {
    width: 36px;
    margin-right: 16px;
}
  
.soundcloud-player {
    margin: 4rem auto 0 auto;
    max-width: 600px;
}
  
.soundcloud-player iframe {
    margin-bottom: 0.6rem;
}