* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #d54f83;
}

:root {
  font-size: 16px;
}

body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* HOT HOUSE HOME TEXT */
h1 {
  font-size: 5rem;
  font-weight: 500;
}

/* PAGE TITLE */
h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h1 a:hover,
h2 a:hover {
  opacity: 0.5;
}

/* PRODUCT TITLE */
h3 {
  font-size: 26px;
  font-weight: 500;
  margin: 12px 0 12px 0;
}

/* SHOP TEXT */
h4 {
  font-size: 22px;
  font-weight: 400;
}

p {
  font-size: 20px;
  white-space: pre-line;
}

a {
  text-decoration: none;
  display: inline block;
  color: white;
  cursor: pointer;
}

a:visited {
  color: white;
}

main {
  margin: 0;
  position: relative;
}


.instagram-button,
.softlab-button {
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  top: 2.5rem;
  transition: 0.2s;
  z-index: 5;
}

.instagram-button {
  left: 2.5rem;
}

.softlab-button {
  right: 2.5rem;
}

.softlab-button img{
  width: 4.5rem;
}

.instagram-button:hover,
.softlab-button:hover {
  transform: scale(1.1);
}

.hotvid-row {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  padding: 1rem;
}

.hotvid-gif {
  background-size: cover;
  z-index: 5;
}

.buy-button {
  background-color: black;
  border-radius: 0.3rem;
  font-size: 16px;
  color: white;
  border: none;
  padding: 16px 16px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buy-button:active {
  background-color: rgba(0, 0, 0, 0.4);
}

#sold-out {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  cursor: not-allowed;
}

footer {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

@media only screen and (max-width: 650px) {
  :root {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .hotvid-gif {
    position: fixed;
    width: 300px;
    height: 250px;
  }
}